<h1>Lista Cliente</h1>
<!-- Modal -->

  



<div class="container">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>
    <div class="responsive">
      <p><button (click)="newCliente()" class="btn btn-primary">Crear nuevo cliente</button></p>      
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">Fono</th>
                <th scope="col">Email</th>
                <td>options</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of clientes; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.telefono}}</td>
                <td>{{item.email}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger" (click)="eliminarCliente(item.id, item.nombre)" >Eliminar</button>
                        <button type="button" class="btn btn-warning" (click)="editClient(item.id)">Modificar</button>
                        <button type="button" class="btn btn-success" (click)="showInfoCliente(item.id)">Ver</button>
                        <button type="button" class="btn btn-info" (click)="ventaCliente(item.id)">Ventas</button>
                    </div>
                </td>
            </tr>
            
            </tbody>
        </table>
    </div>
</div>